/*** section: punto-1 ***/
.box {
  height: 200px;
  width: 230px;
  float: left; /*propiedad añadida*/
}
.yellow {
  background-color: #fff000;
}
.blue {
  background-color: #000fff;
}
.red {
  background-color: #ff0000;
}
