/*** section: estructura-inicial ***/
.container {
  border: 1px #8f8f8f solid;
  margin: 10px;
}
.box {
  height: 200px;
  width: 230px;
}
.yellow {
  background-color: #fff000;
}
.blue {
  background-color: #000fff;
}
.red {
  background-color: #ff0000;
}

/*** section: punto-1 SOLO CAMBIOS***/
.left {
  float: left; /*propiedad añadida*/
}

/*** section: punto-2 SOLO CAMBIOS***/
.right {
  float: right; /*propiedad añadida*/
}

/*** adicionales ***/
section {
  width: 100%;
}
#estructura-inicial {
  height: 700px;
}
#punto-1, #punto2 {
  height: 250;
  overflow: auto;
}
